#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dates {
  width: 100%;
  height: 150px;
}
.dates .left {
  width: 33%;
  border: 1px solid black;
  line-height: 1.2;
}

.dates .center {
  width: 33%;
  border: 1px solid black;
  line-height: 1.3;
}

.dates .right {
  width: 33%;
  border: 1px solid black;
  line-height: 0.9;
}

.fs-lg {
  font-size: 60px;
}
